In [42]:
from pyspark.sql import SparkSession
import pyspark.sql.functions  as F
from pyspark.sql.types import IntegerType

In [43]:
scSpark = SparkSession.builder.appName("Assignment5.3").getOrCreate()

In [86]:
# Read data from a source and create a DataFrame
colunms = ["PassengerId","Survived","class","Name","Sex","Age","SibSp","Parch","Ticket","Fare","Cabin","Embarked","TimeStamp"]

titanic_df = scSpark.read.csv('./data/titanic.csv', sep=',', inferSchema=True, header=False)
titanic_df=titanic_df.toDF(*colunms)
titanic_df.show(5)

+-----------+--------+-----+--------------------+------+---+-----+-----+----------------+-------+-----+--------+-------------------+
|PassengerId|Survived|class|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|          TimeStamp|
+-----------+--------+-----+--------------------+------+---+-----+-----+----------------+-------+-----+--------+-------------------+
|          1|       0|    3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|2020-01-01 13:45:25|
|          2|       1|    1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|2020-01-01 13:44:48|
|          3|       1|    3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|2020-01-01 13:38:11|
|          4|       1|    1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|2020-01-01 13:32:00|
|          5|       0|    3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05| null|       S|2020-01-01 13:36:30|
+-----------+--------+-----+--------------------+------+---+-----+-----+----------------+-------+-----+--------+-------------------+
only showing top 5 rows

### Task 1
For numerical columns, calculate minimum, maximum and average values.

In [94]:
titanic_df.dtypes[0:][1]

# titanic_df.filter(titanic_df.dtypes[0] == "string")

('Survived', 'int')

In [78]:
titanic_df.describe(isinstance()).show()

PySparkTypeError: [NOT_INT] Argument `n` should be an int, got bool.